<%- include('partials/header') -%>

<div class="h-full bg-gradient-to-tl from-gray-400 to-indigo-900 w-full py-16 pb-60 px-4">
  <nav class="f-f-l relative z-10">
    <div class="pt-3 relative z-10 mx-auto container w-full px-4 xl:px-0 lg:flex justify-between items-center py-11">
        <div>
            <a href="/"><img class="w-1/3" src="/imgs/logodone.png" alt="logo" /></a>
        </div>
        <div class="flex items-center text-white text-base font-medium">
            <a href="/logout"><button class="px-6 py-3 bg-indigo-400 hover:bg-indigo-500 text-white text-base font-medium rounded-lg flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700">
                Logout
                <img class="ml-4" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/large_typography_with_gradient_and_glass_effect_Svg5.svg" alt="arrow" />
            </button></a>
        </div>
    </div>
</nav>


  <div class="2xl:container 2xl:mx-auto lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 lg:gap-8 gap-6">

        <div class="p-6 bg-gray-50 rounded dark:bg-gray-800">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-7-svg1.svg" alt="Safe Shopping">
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-7-svg1dark.svg" alt="Safe Shopping">
            
            <h1 class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800 mt-2 mb-2" >Thanks for accepting your offer <%= user.userName%>! <br> You'll be paid out:</h1>
            <h2 class="text-4xl md:text-4xl lg:text-6xl w-11/12 lg:w-11/12 xl:w-full xl:text-6xl text-black font-extrabold f-f-l mb-2">$ <%= quote[quote.length - 1].quoteValue %></h2>
            <p class="text-xl text-gray-800 dark:text-white font-semibold leading-5 mt-6">Pickup Location & Details</p>
            <p class="font-normal text-base leading-6 dark:text-gray-300 text-gray-600 my-4">
             
              35 Barrett St <br>
              Revere, MA 02151 <br>
              <br>
              (781) 506-3676 
            </p>
        </div>

        <div class="p-6 bg-gray-50 rounded dark:bg-gray-800">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-7-svg2.svg" alt="Personal Shopping">
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-7-svg2dark.svg" alt="Personal Shopping">
            <p class="text-xl text-gray-800 dark:text-white font-semibold leading-5 mt-6">Pickup Pointers</p>
            <ul class="font-normal text-base leading-6 dark:text-gray-300 text-gray-600 my-4">
              <li>Remove all your stuff, even if you don't want it</li>
              <br>
              <li>Have all keys, fobs, clickers ready</li>
              <br>
              <li>Get the necessary papers and have them ready for transfer</li>
              <br>
              <li>Park in a spot the tow truck can reach</li>
              <br>
              <li>Be prepared to remove the license plate before you say goodbye!</li>
            </ul>
        </div>

        <div class="h-full p-6 bg-gray-50 rounded dark:bg-gray-800">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-7-svg3.svg" alt="Free Shipping">
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-7-svg3dark.svg" alt="Free Shipping">
            <p class="text-xl text-gray-800 dark:text-white font-semibold leading-5 mt-6">Buyer Info</p>
            <p class="font-normal text-base leading-6 dark:text-gray-300 text-gray-600 my-4">
              Fastway Removal Services <br>
              781-585-9888 <br>
              <br>
              Mon - Fri: 9am - 5pm
            </p>
           
        </div>
    </div>
</div>

<%- include('partials/footer') -%>